<STYLE type=Text/CSS>
INPUT {
}
@font-face {
    font-family: UVF Snap ITC;
    src: url("./font/uvfsnap.ttf");
}
@font-face {
    font-family: BrushScript BoldItalic;
    src: url("./font/brushsbi.ttf");
}
#title {
FONT-WEIGHT: 900; FONT-SIZE: 32pt;FONT-FAMILY:UVF Snap ITC;
color: #eeeeee;
text-shadow: black 0.2em 0.2em 0.4em;
	}
	
#content{
FONT-SIZE: 18pt;FONT-FAMILY:BrushScript BoldItalic;
line-height:30px;
}

#nav {
	FONT-WEIGHT: 900; FONT-SIZE: 17pt;FONT-FAMILY:UVF Snap ITC;
    line-height:50px;
    background-color:#eeeeee;
    height: 100%;
    width: 20%;
    float: right;
	text-align: left;
	padding: 2%;
	}
	
body {
    background-image: url("./img/stone.jpg");
	background-size: cover;
}

.button1 {
	FONT-WEIGHT: 900; FONT-SIZE: 16pt;
	background-color: FEFBD2;
	background-size: 100% 100%;
	position: absolute;
	text-align: left;
	padding-top: 8%;
	width: 10%;
	height: 22%;
	top: 47%;
	left: 13%;
}

.button2 {
	FONT-WEIGHT: 900; FONT-SIZE: 16pt;
	background-color: FEFBD2;
	background-size: 100% 100%;
	position: absolute;
	text-align: left;
	padding-top: 8%;
	width: 10%;
	height: 22%;
	top: 47%;
	left: 23%;
}
.button3 {
	FONT-WEIGHT: 900; FONT-SIZE: 16pt;
	background-color: FEFBD2;
	background-size: 100% 100%;
	position: absolute;
	text-align: left;
	padding-top: 8%;
	width: 10%;
	height: 22%;
	top: 47%;
	left: 33%;
}
.button4 {
	FONT-WEIGHT: 900; FONT-SIZE: 16pt;
	background-color: FEFBD2;
	background-size: 100% 100%;
	position: absolute;
	text-align: left;
	padding-top: 8%;
	width: 10%;
	height: 22%;
	top: 47%;
	left: 43%;
}
.button5 {
	FONT-WEIGHT: 900; FONT-SIZE: 16pt;
	background-color: FEFBD2;
	background-size: 100% 100%;
	position: absolute;
	text-align: left;
	padding-top: 8%;
	width: 10%;
	height: 22%;
	top: 47%;
	left: 53%;
}
.button6 {
	FONT-WEIGHT: 900; FONT-SIZE: 16pt;
	background-color: FEFBD2;
	background-size: 100% 50%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	width: 10%;
	height: 44%;
	top: 25%;
	left: 64%;
	text-align: left;
	padding-top: 18%;
	border-top-right-radius: 100%;
	border-bottom-right-radius: 100%;
}

.button7 {
	FONT-WEIGHT: 900; FONT-SIZE: 16pt;
	background-color: FEFBD2;
	background-size: 100% 100%;
	position: absolute;
	text-align: left;
	padding-top: 8%;
	width: 10%;
	height: 22%;
	top: 25%;
	left: 53%;
}
.button8 {
	FONT-WEIGHT: 900; FONT-SIZE: 16pt;
	background-color: FEFBD2;
	background-size: 100% 100%;
	position: absolute;
	text-align: left;
	padding-top: 8%;
	width: 10%;
	height: 22%;
	top: 25%;
	left: 43%;
}
.button9 {
	FONT-WEIGHT: 900; FONT-SIZE: 16pt;
	background-color: FEFBD2;
	background-size: 100% 100%;
	position: absolute;
	text-align: left;
	padding-top: 8%;
	width: 10%;
	height: 22%;
	top: 25%;
	left: 33%;
}
.button10 {
	FONT-WEIGHT: 900; FONT-SIZE: 16pt;
	background-color: FEFBD2;
	background-size: 100% 100%;
	position: absolute;
	text-align: left;
	padding-top: 8%;
	width: 10%;
	height: 22%;
	top: 25%;
	left: 23%;
}
.button11 {
	FONT-WEIGHT: 900; FONT-SIZE: 16pt;
	background-color: FEFBD2;
	background-size: 100% 100%;
	position: absolute;
	text-align: left;
	padding-top: 8%;
	width: 10%;
	height: 22%;
	top: 25%;
	left: 13%;
}
.button12 {
	FONT-WEIGHT: 900; FONT-SIZE: 16pt;
	background-color: FEFBD2;
	background-size: 100% 50%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	width: 10%;
	height: 44%;
	top: 25%;
	left: 2%;
	text-align: left;
	padding-left: 3%;
	padding-top: 18%;
	border-top-left-radius: 100%;
	border-bottom-left-radius: 100%;
}

.arr {
	FONT-WEIGHT: 900; FONT-SIZE: 24pt;
	background-color: FEFBD2;
	background-repeat:no-repeat;
	position: absolute;
	width: 13%;
	height: 8%;
	top: 74%;
	left: 24.5%;
	padding-bottom: 20px;
}

.arr2 {
	FONT-WEIGHT: 900; FONT-SIZE: 24pt;
	background-color: FEFBD2;
	background-repeat:no-repeat;
	position: absolute;
	width: 13%;
	height: 8%;
	top: 74%;
	left: 38.5%;
	padding-bottom: 20px;
}
}
</STYLE>
